/* Common Styles */
/* Common Styles */
/* Navbar */
/* Navbar */
/* Caurosels Styles */
/* Listing Tabs */
/* Listing Tabs */
/* BS */
/* BS */
/* Testimonials */
/* Testimonials */
/* News */
/* News */
/* Footer */
/* Footer */
/***css by vishwanath***/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  color: #999;
  font-weight: 300 !important; }

a {
  color: #ffffff; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }
  a:active {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }

h1 {
  font-weight: 300; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: 300; }

h4 {
  font-weight: 300; }

h5 {
  font-weight: 300; }

h6 {
  font-weight: 300; }

blockquote {
  border: none;
  margin-bottom: -30px;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 0.4em; }
  blockquote p:before {
    content: "\201C";
    font-weight: bold;
    font-size: 150px;
    color: rgba(238, 238, 238, 0.25);
    position: absolute;
    top: -80px;
    left: -100px;
    font-family: "Georgia"; }
  blockquote p:after {
    content: "\201D";
    font-weight: bold;
    font-size: 150px;
    color: rgba(238, 238, 238, 0.25);
    position: absolute;
    bottom: -100px;
    right: -100px;
    font-family: "Georgia"; }

.pdx-75 {
  padding-left: 75px;
  padding-right: 75px; }

.pdl-75 {
  padding-left: 75px; }

.mt-120 {
  margin-top: 120px; }

.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.white-color {
  color: #ffffff; }

.no-padding {
  padding: 0px; }

.no-right-padding {
  padding-right: 0px; }

.no-left-padding {
  padding-left: 0px; }

.no-margin {
  margin: 0px; }

.pdy-15p {
  padding-top: 15%; }

.pdy-5 {
  padding-top: 10px;
  padding-bottom: 5px; }

.pdx-5 {
  padding-left: 5px;
  padding-right: 5px; }

.pdx-15 {
  padding-left: 15px;
  padding-right: 15px; }

.pdx-25 {
  padding-left: 25px !important;
  padding-right: 25px !important; }

.pdl-5 {
  padding-left: 5px; }

.pdt-20 {
  padding-top: 20px; }

.pdt-40 {
  padding-top: 40px; }

.pdb-20 {
  padding-bottom: 20px; }

.pd-20 {
  padding: 20px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-100 {
  margin-bottom: 100px; }

.mt-5 {
  margin-top: 5px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-40 {
  margin-top: 40px; }

.mt-75 {
  margin-top: 75px; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.width-50p {
  width: 50%; }

.circled-img {
  border-radius: 100%; }

.media-heading {
  margin-top: 10px; }

.blue-bg {
  background: #3fa3e4;
  background: -moz-linear-gradient(left, #3fa3e4 0%, #3f7ce4 50%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3fa3e4), color-stop(50%, #3f7ce4));
  background: -webkit-linear-gradient(left, #3fa3e4 0%, #3f7ce4 50%);
  background: -o-linear-gradient(left, #3fa3e4 0%, #3f7ce4 50%);
  background: -ms-linear-gradient(left, #3fa3e4 0%, #3f7ce4 50%);
  background: linear-gradient(to right, #3fa3e4 0%, #3f7ce4 50%);
  color: #ffffff !important; }

.blue-color {
  color: #499fff; }

.grey-color {
  color: #a9a9a9; }

.oval-border {
  border-radius: 25px; }

.rounded-border {
  border-radius: 100%; }

.brt-white {
  border-right: 1px solid #ffffff; }

.blt-white {
  border-left: 1px solid #ffffff; }

.font-normal {
  font-weight: normal; }

.main-bg {
  background-image: url("../../public/images/bg_image2.png"); }

.main-bgc {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%; }

.main-links {
  padding-left: 20px;
  margin: 10px;
  border-left: 1px solid #ffffff; }

.cust-searchbar {
  margin: -20px; }

.cust-search {
  border-radius: 25px; }

.icon-rounded {
  border-radius: 100%;
  border: 1px solid #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  padding-top: 2px;
  margin-right: 10px; }

.contact-btn {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 25px; }

.contact-icon {
  padding: 0;
  width: 120px;
  height: 25px; }

.flag-section {
  background-color: #eeeeee;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px; }

.flag-width {
  width: 14%;
  margin-bottom: 30px; }
  .flag-width p {
    font-size: 11px;
    padding-top: 10px;
    min-height: 46px;
    color: #717171; }

.btn-view {
  background-color: transparent;
  color: #61a5ea;
  border: 1px solid #61a5ea;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px; }

.cust-row {
  margin-left: -5px;
  margin-right: -5px; }

.category-big-image {
  height: 335px !important;
  width: 100%; }

.category-small-image {
  height: 150px !important;
  width: 100%; }

.category-title {
  margin-top: 0px;
  font-size: 16px; }

.category-subtitle {
  margin-bottom: 0px; }

.caption-one {
  background: #4267ff;
  background: -moz-linear-gradient(left, #4267ff 0%, #765cff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #4267ff), color-stop(100%, #765cff));
  background: -webkit-linear-gradient(left, #4267ff 0%, #765cff 100%);
  background: -o-linear-gradient(left, #4267ff 0%, #765cff 100%);
  background: -ms-linear-gradient(left, #4267ff 0%, #765cff 100%);
  background: linear-gradient(to right, #4267ff 0%, #765cff 100%);
  color: #ffffff !important; }
  .caption-one h3 {
    font-weight: 500; }

.caption-two {
  background: #8c6239;
  background: -moz-linear-gradient(left, #8c6239 0%, #603813 50%, #603813 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #8c6239), color-stop(50%, #603813), color-stop(100%, #603813));
  background: -webkit-linear-gradient(left, #8c6239 0%, #603813 50%, #603813 100%);
  background: -o-linear-gradient(left, #8c6239 0%, #603813 50%, #603813 100%);
  background: -ms-linear-gradient(left, #8c6239 0%, #603813 50%, #603813 100%);
  background: linear-gradient(to right, #8c6239 0%, #603813 50%, #603813 100%);
  color: #ffffff !important; }
  .caption-two h4 {
    font-weight: 500; }

.caption-three {
  background-color: #17C137;
  color: #ffffff !important;
  font-weight: 400; }
  .caption-three h4 {
    font-weight: 500; }

.caption-four {
  background: #3f3f3f;
  background: -moz-linear-gradient(left, #3f3f3f 0%, #363636 50%, #2d2d2d 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3f3f3f), color-stop(50%, #363636), color-stop(100%, #2d2d2d));
  background: -webkit-linear-gradient(left, #3f3f3f 0%, #363636 50%, #2d2d2d 100%);
  background: -o-linear-gradient(left, #3f3f3f 0%, #363636 50%, #2d2d2d 100%);
  background: -ms-linear-gradient(left, #3f3f3f 0%, #363636 50%, #2d2d2d 100%);
  background: linear-gradient(to right, #3f3f3f 0%, #363636 50%, #2d2d2d 100%);
  color: #ffffff !important; }
  .caption-four h4 {
    font-weight: 500; }

.caption-five {
  background-color: #499FFF;
  color: #ffffff !important; }
  .caption-five h4 {
    font-weight: 500; }

.caption-six {
  background: #e45738;
  background: -moz-linear-gradient(left, #e45738 0%, #e55830 50%, #e55928 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #e45738), color-stop(50%, #e55830), color-stop(100%, #e55928));
  background: -webkit-linear-gradient(left, #e45738 0%, #e55830 50%, #e55928 100%);
  background: -o-linear-gradient(left, #e45738 0%, #e55830 50%, #e55928 100%);
  background: -ms-linear-gradient(left, #e45738 0%, #e55830 50%, #e55928 100%);
  background: linear-gradient(to right, #e45738 0%, #e55830 50%, #e55928 100%);
  color: #ffffff !important; }
  .caption-six h4 {
    font-weight: 500; }

.caption-seven {
  background: cyan;
  background: -moz-linear-gradient(left, cyan 0%, #1ee0a4 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, cyan), color-stop(100%, #1ee0a4));
  background: -webkit-linear-gradient(left, cyan 0%, #1ee0a4 100%);
  background: -o-linear-gradient(left, cyan 0%, #1ee0a4 100%);
  background: -ms-linear-gradient(left, cyan 0%, #1ee0a4 100%);
  background: linear-gradient(to right, cyan 0%, #1ee0a4 100%);
  color: #ffffff !important; }
  .caption-seven h4 {
    font-weight: 500; }

.listing-section {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #ffffff 50%, #499fff 50%, #499fff 100%); }

.listing-caption {
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-bottom: 1px solid #dddddd; }

.listing-action-box {
  padding: 10px 25px; }
  .listing-action-box h6 {
    color: #818181; }
  .listing-action-box .pull-right {
    line-height: 3; }

.listings-actions {
  color: #818181; }

.book-color {
  color: #ffffff; }

.fav-color {
  color: red; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400; }
  .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #222222; }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #222222; }
  .navbar-inverse .navbar-nav > li > a:active {
    background-color: #222222; }

.logo-img {
  height: 40px; }

.navbar-brand {
  padding-top: 5px; }

.nav-flag-img {
  width: 35px;
  height: 20px;
  display: inline; }

#categoryCarousel .carousel-control.right {
  background-image: none; }
#categoryCarousel .carousel-control.left {
  background-image: none; }
#categoryCarousel .carousel-control {
  width: 2%;
  opacity: .9; }
  #categoryCarousel .carousel-control .fa-arrow-left {
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 13px;
    color: #499fff;
    margin-left: -10px;
    position: absolute;
    top: 50%;
    left: 0px; }
  #categoryCarousel .carousel-control .fa-arrow-right {
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 13px;
    color: #499fff;
    margin-right: -10px;
    position: absolute;
    top: 50%;
    right: 0px; }
  #categoryCarousel .carousel-control .icon-next {
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 13px;
    color: #499fff;
    margin-right: -10px;
    position: absolute;
    top: 50%;
    right: 0px; }
  #categoryCarousel .carousel-control .icon-prev {
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 13px;
    color: #499fff;
    margin-left: -10px;
    position: absolute;
    top: 50%;
    left: 0px; }
#categoryCarousel .carousel-indicators {
  bottom: -30px; }
  #categoryCarousel .carousel-indicators li {
    border: 1px solid #d3d3d3;
    width: 20px;
    height: 1px; }
  #categoryCarousel .carousel-indicators .active {
    width: 20px;
    height: 1px;
    margin: 1px;
    border: 1px solid #499fff; }

#testimonialCarousel .carousel-control.right {
  background-image: none; }
#testimonialCarousel .carousel-control.left {
  background-image: none; }
#testimonialCarousel .carousel-control {
  width: 2%;
  opacity: .9; }
  #testimonialCarousel .carousel-control .fa-arrow-left {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-left: -10px;
    position: absolute;
    top: 40%;
    left: 30px; }
  #testimonialCarousel .carousel-control .fa-arrow-right {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-right: -10px;
    position: absolute;
    top: 40%;
    right: 30px; }
  #testimonialCarousel .carousel-control .icon-next {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-right: -10px;
    position: absolute;
    top: 40%;
    right: 30px; }
  #testimonialCarousel .carousel-control .icon-prev {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-left: -10px;
    position: absolute;
    top: 40%;
    left: 30px; }

#newsCarousel .carousel-control.right {
  background-image: none; }
#newsCarousel .carousel-control.left {
  background-image: none; }
#newsCarousel .carousel-control {
  width: 2%;
  opacity: .9; }
  #newsCarousel .carousel-control .fa-arrow-left {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-left: -10px;
    position: absolute;
    top: 40%;
    left: 30px;
    background-color: #499fff;
    color: #ffffff; }
  #newsCarousel .carousel-control .fa-arrow-right {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-right: -10px;
    position: absolute;
    top: 40%;
    right: 30px;
    background-color: #499fff;
    color: #ffffff; }
  #newsCarousel .carousel-control .icon-next {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-right: -10px;
    position: absolute;
    top: 40%;
    right: 30px;
    background-color: #499fff;
    color: #ffffff; }
  #newsCarousel .carousel-control .icon-prev {
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-top: -30px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    color: #499fff;
    margin-left: -10px;
    position: absolute;
    top: 40%;
    left: 30px;
    background-color: #499fff;
    color: #ffffff; }

.panel-tabs {
  position: relative;
  bottom: 30px;
  clear: both;
  border-bottom: 1px solid #c6c8ca;
  font-size: 12px; }
  .panel-tabs > li {
    float: left;
    margin-bottom: -1px; }
    .panel-tabs > li > a {
      margin-right: 2px;
      margin-top: 4px;
      line-height: .85;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      color: #9e9d9d;
      font-weight: bold; }
      .panel-tabs > li > a:hover {
        border-color: transparent;
        color: #499fff;
        background-color: transparent; }
  .panel-tabs > li.active > a {
    color: #499fff;
    cursor: default;
    border-bottom: 3px solid #499fff; }
    .panel-tabs > li.active > a:hover {
      color: #499fff;
      cursor: default;
      border-bottom: 3px solid #499fff; }
    .panel-tabs > li.active > a:focus {
      color: #499fff;
      cursor: default;
      border-bottom: 3px solid #499fff; }

.panel-default {
  border: transparent;
  background-color: transparent; }
  .panel-default > .panel-heading {
    border-color: transparent;
    background-color: transparent; }

.bs-section {
  background-color: #ffffff; }

.about-section {
  background-color: #ffffff; }

.bs-flex {
  display: flex; }

.bs-tabs > li {
  border: 1px solid #499fff;
  border-bottom: transparent; }
  .bs-tabs > li > a {
    color: #555;
    margin-right: 0px; }
.bs-tabs > li.active {
  border: none; }
  .bs-tabs > li.active > a {
    background: #4267ff;
    background: -moz-linear-gradient(left, #4267ff 0%, #765cff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #4267ff), color-stop(100%, #765cff));
    background: -webkit-linear-gradient(left, #4267ff 0%, #765cff 100%);
    background: -o-linear-gradient(left, #4267ff 0%, #765cff 100%);
    background: -ms-linear-gradient(left, #4267ff 0%, #765cff 100%);
    background: linear-gradient(to right, #4267ff 0%, #765cff 100%);
    color: #ffffff !important;
    line-height: 35px;
    margin-top: -15px; }
    .bs-tabs > li.active > a:focus {
      background: #4267ff;
      background: -moz-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #4267ff), color-stop(100%, #765cff));
      background: -webkit-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: -o-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: -ms-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: linear-gradient(to right, #4267ff 0%, #765cff 100%);
      color: #ffffff !important;
      line-height: 35px;
      margin-top: -15px; }
    .bs-tabs > li.active > a:hover {
      background: #4267ff;
      background: -moz-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #4267ff), color-stop(100%, #765cff));
      background: -webkit-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: -o-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: -ms-linear-gradient(left, #4267ff 0%, #765cff 100%);
      background: linear-gradient(to right, #4267ff 0%, #765cff 100%);
      color: #ffffff !important;
      line-height: 35px;
      margin-top: -15px; }

.bs-tab-content {
  background-color: #f2f2f2;
  padding: 15px;
  height: calc(100% - 43px); }

.ts-con {
  padding: 50px; }

.news-section {
  padding-bottom: 40px; }
  .news-section .news-icons {
    display: block;
    height: 80px;
    margin: 0 auto 20px;
    border: 1px solid #f2f2f2;
    overflow: hidden; }
    .news-section .news-icons img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      vertical-align: middle;
      margin: auto; }

.news-con {
  padding-left: 100px;
  padding-right: 100px; }

.footer {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.8); }
  .footer h4 {
    font-size: 16px; }

.follow-spacing {
  margin-top: 1px;
  margin-right: 10px; }

.hr-white {
  border-top: 2px solid #ffffff;
  margin-top: 36px;
  margin-bottom: 36px; }

.rounded {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  position: relative;
  outline: none !important; }
  .rounded:hover {
    background-color: #eeeeee; }
    .rounded:hover img {
      transform: scale(2);
      box-shadow: 0px 0px 5px 1px white;
      background-color: #ffffff;
      border-radius: 100%;
      padding: 5px;
      border: 2px solid #ff9520;
      z-index: 999; }
  .rounded::after {
    content: "";
    height: 40px;
    background-color: #ff9520;
    border: 1px solid #ff9520;
    left: 50%;
    top: 100%;
    position: absolute; }
  .rounded::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid #ff9520;
    border-radius: 100%;
    left: 30px;
    top: 107px;
    position: absolute;
    z-index: 1; }

.grounded {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  position: relative;
  margin-left: -25%;
  outline: none !important; }
  .grounded:hover img {
    transform: scale(2);
    box-shadow: 0px 0px 5px 1px white;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 5px;
    border: 2px solid #ff9520;
    z-index: 999; }
  .grounded::after {
    content: "";
    height: 38px;
    background-color: #ff9520;
    border: 1px solid #ff9520;
    left: 50%;
    top: -53%;
    position: absolute; }
  .grounded::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid #ff9520;
    border-radius: 100%;
    left: 30px;
    top: -45px;
    position: absolute;
    z-index: 1; }

.left-dashed-line {
  margin-right: -30px;
  margin-top: 27px;
  border-top: 2px dashed #eee; }

.right-dashed-line {
  margin-left: -30px;
  margin-top: 27px;
  border-top: 2px dashed #eee; }

.login-signup-modals .modal-header {
  background: #5388fc;
  color: #fff; }
  .login-signup-modals .modal-header h4 {
    font-size: 18px;
    font-weight: 300; }
.login-signup-modals .modal-content {
  border-radius: 0px;
  top: 70px; }
  .login-signup-modals .modal-content .form-control {
    height: 40px;
    border-radius: 0; }
  .login-signup-modals .modal-content .input-group-addon {
    border-radius: 0; }
.login-signup-modals .modal-body {
  padding: 15px 40px; }
.login-signup-modals .btns-social a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border-radius: 100%;
  margin-right: 10px; }
.login-signup-modals .btns-social a.fa-facebook {
  background: #3c5998; }
.login-signup-modals .btns-social a.fa-google-plus {
  background: #dc4e42; }
.login-signup-modals .btns-social a.fa-linkedin {
  background: #2b7ab9; }
.login-signup-modals .btns-social a.fa-twitter {
  background: #55abee; }
.login-signup-modals a:before {
  content: ''; }

.login-or-signup-bar {
  text-align: center;
  position: relative; }
  .login-or-signup-bar:before {
    width: 10%;
    height: 2px;
    background: #5388fc;
    display: inline-block;
    position: relative;
    top: -3px;
    content: '';
    margin-right: 10px; }
  .login-or-signup-bar:after {
    content: '';
    width: 10%;
    height: 2px;
    background: #5388fc;
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 10px; }

.confirm_link {
  font-size: 12px;
  color: #1f782c; }
  .confirm_link::before {
    font-family: FontAwesome;
    content: "\f058"; }

input.btn.btn-success {
  padding: 10px 54px;
  border-radius: 3px; }

.select_package_table {
  background: #f9f9f9; }
  .select_package_table tbody td {
    text-align: center;
    padding: 15px 10px !important; }
    .select_package_table tbody td:first-child {
      background: #fff;
      text-align: left; }
      .select_package_table tbody td:first-child span {
        color: #4a9efc;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        text-align: center;
        border: 1px solid #4fa5fb;
        font-size: 12px;
        line-height: 20px; }
  .select_package_table thead th {
    padding: 0 !important;
    padding-bottom: 20px !important; }

.select_package_table.table > thead > tr > th {
  vertical-align: top;
  font-weight: 300 !important; }

.select_package_row > div > h4 {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 0; }
.select_package_row ul {
  padding-left: 25px;
  text-align: left; }

.select_package_free {
  background: #bd7517;
  color: #fff; }

.select_package_gold {
  background: #e2bf14;
  color: #fff; }

.select_package_silver {
  background: #797782;
  color: #fff; }

.package-yes {
  color: #2ec74b;
  font-size: 20px; }

.package-no {
  color: #ef7373;
  font-size: 20px; }

.select_a_package_heading {
  background: #447cff;
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 15px; }

.role_text {
  position: relative;
  top: 0;
  left: -11%; }

.listing_section_li_a_tabs {
  padding: 10px 0px !important;
  margin-right: 30px !important; }

.listing_section_li_a_tabs_thridtab {
  margin-right: 0px !important; }

.table_margin_responsive {
  margin: 0px; }

.packages_margin_bootom {
  margin-bottom: 52px; }

.contact_business_button {
  background-color: #20b33f;
  border: 0px;
  padding: 8px 12px;
  font-size: 11px;
  font-weight: 500;
  border-radius: 1px;
  outline: 0; }
  .contact_business_button:hover {
    background-color: rgba(17, 183, 52, 0.73) !important;
    border: 0px !important;
    outline: 0; }
  .contact_business_button:focus {
    background-color: rgba(17, 183, 52, 0.73) !important;
    border: 0px !important;
    outline: 0; }
  .contact_business_button:active {
    background-color: rgba(17, 183, 52, 0.73) !important;
    border: 0px !important;
    outline: 0; }

.register_msg p {
  padding-top: 25px;
  margin-bottom: 0px; }
.register_msg a {
  color: #0d8b07; }

.fb_iframe_widget {
  left: 34% !important;
  top: 74% !important;
  opacity: 0;
  display: inline-block;
  position: absolute !important; }

.IN-widget {
  position: absolute;
  top: 277px;
  left: 258px;
  opacity: 1 !important; }

a.g-signin2 {
  position: absolute;
  top: 277px;
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
