 <div class="row asideSample">
        <div>
            <div class="col-md-9 pdg_remove">
                <!-- <ul class="nav nav-pills main_content_tabs">
                                    <li class="active"><a data-toggle="pill" href="#home">Buyer</a></li>
                                    <li><a data-toggle="pill" href="#menu1">Seller</a></li>
                                    <li><a data-toggle="pill" href="#menu2">Business Frachise</a></li>
                                     <li><a data-toggle="pill" href="#menu3">Commerial Property</a></li>
                                    <li><a data-toggle="pill" href="#menu4">Business Directory</a></li>
                                    <li><a data-toggle="pill" href="#menu5">Brokers</a></li>
                                    <li><a data-toggle="pill" href="#menu6">Distress Resale</a></li>
                                  </ul> -->
                <div class="collapse navbar-collapse Zero-padding main_content_tabs" id="navbar-collapse-1">
                    <ul class="nav navbar-nav dbNav">
                        <li><a href="#">Buyer</a></li>
                        <li><a href="#">Seller</a></li>
                        <li><a href="#">Business Frachise</a></li>
                        <li><a href="#">Commerial Property</a></li>
                        <li><a href="#">Business Directory</a></li>
                        <li><a href="#">Brokers</a></li>
                        <li><a href="#">Distress Resale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="socialShare pull-right">
                    <div class="col-md-2 col-sm-2 fa-Blue">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2 col-sm-2 fa-Blue">
                        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2 col-sm-2 fa-Blue">
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2 col-sm-2 fa-Blue">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2 col-sm-2 fa-Blue">
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>