
<footer class="footer">
  <div class="ts-con">
    <div class='row'>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <img src="@routes.Assets.versioned("images/logo.png")" class="img img-responsive">
            <form>
                <div class="form-group">
                    <label for="email" class="font-normal white-color">Subscribe to Newsletter</label>
                    <input type="email" class="form-control width-50p oval-border" id="email">
              </div>
            </form>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 brt-white">
            <h4 class="blue-color font-normal">SERVICES</h4>
            <div class='row mt-40'>
                <div class='col-md-6 col-xs-6'>
                    <p><a href="#"> Buy a Business </a></p>
                    <p><a href="#"> Sell a Business </a></p>
                    <p><a href="#"> Business Listing </a></p>
                    <p><a href="#"> Franchise Listing </a></p>
                    <p><a href="#"> Commercial Listing </a></p>
                </div>
                <div class="col-md-6 col-xs-6">
                    <p><a href="#"> Business Directory </a></p>
                    <p><a href="#"> Business Services </a></p>
                    <p><a href="#"> Business Valuation </a></p>
                    <p><a href="#"> Distress Sales </a></p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-6 useTobuz-footer ">
            <h4 class="blue-color font-normal">WHY USE TOBUZ</h4>
            <div class='mt-40'>
                <p><a href="#"> How it Works </a></p>
                <p><a href="#"> FAQs </a></p>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-6 blt-white">
            <h4 class="blue-color font-normal">GET TO KNOW US</h4>
            <div class='mt-40'>
                <p><a href="#"> About Us </a></p>
                <p><a href="#"> Tobuz Blog </a></p>
                <p><a href="#"> Contact Us </a></p>
                <p><a href="#"> Privacy Policy </a></p>
                <p><a href="#"> Terms &amp; Conditions </a></p>
            </div>
        </div>
    </div>
  </div>
  <div class='container-fluid blue-bg pdx-25 pdy-5'>
    <div>
        <div class="col-md-2 col-sm-2 col-xs-12 mb-5 no-right-padding">
            <p class="no-margin"> Privacy Policy </p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 mb-5 no-padding">
            <p class="no-margin"> Copyright 2016 Tobuz.com </p>
        </div>
        <div class="col-md-6 col-md-offset-2 col-sm-6 pull-right col-xs-12 mb-5">
            <div class="col-md-7 col-sm-5 col-xs-5 no-right-padding">
                <p class="text-right follow-spacing"> Follow us on : </p>
            </div>
            <div class="col-md-1 col-sm-1 icon-rounded">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-1 col-sm-1 icon-rounded">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-1 col-sm-1 icon-rounded">
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-1 col-sm-1 icon-rounded">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-1 col-sm-1 icon-rounded">
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
  </div>
</footer>
