@(packages : Map[models.tobuzpackage.TobuzPackage,Boolean], packageList : List[beans.tobuzPackage.TobuzPackageBean],loggedInUser : models.AppUser)
@import java.lang.Integer; var index = 0;
@navbar(loggedInUser,"Home")
@main("Packages"){


<!-- <table>

<tr>
<td></td>
@for((tobuzPackage,isActivated) <- packages){
<td>@tobuzPackage.getTobuzPackageType().toString() @if(isActivated){Activated}<br> @tobuzPackage.getCost() Rs</td>
}
</tr>
@for(Tpackage <- packageList){
<tr>
<td>@Tpackage.tobuzPackageService.getTitle()</td>
@for((tPackage,boolean) <- Tpackage.serviceMapBean){
<td>
@if(boolean){
<input type="checkbox" checked disabled/>
}else{
<input type="checkbox"  disabled/>
}
</td>
}
</tr>
}
</table> -->
<div class="packages_margin_bootom">
</div>
@flagSection()
<section class="select_package">
            <div class="container">
                <div class="row mb-40 table-responsive table_margin_responsive">
                   <!-- <h1 class="select_a_package_heading">Select A Package</h1> -->
                   <table class="table select_package_table table-bordered">
                     <thead>
                       <tr>
                         <th colspan=@{packages.size()+1}> <h1 class="select_a_package_heading">Select A Package</h1></th>
                       </tr>
                       <tr>
                           <th class="col-md-3">
                               <h3 class="pdx-15 blue-color">Features</h3>
                           </th>
                           @for((tobuzPackage,isActivated) <- packages){
                             @if(tobuzPackage.getTobuzPackageType().toString().equalsIgnoreCase("free")){
                             <th class="select_package_row select_package_free col-md-3 text-center">
                             }
                             @if(tobuzPackage.getTobuzPackageType().toString().equalsIgnoreCase("silver")){
                             <th class="select_package_row select_package_silver col-md-3 text-center">
                             }
                             @if(tobuzPackage.getTobuzPackageType().toString().equalsIgnoreCase("gold")){
                             <th class="select_package_row select_package_gold col-md-3 text-center">
                             }
                                <div>
                                    <h4>@tobuzPackage.getTobuzPackageType().toString()</h4>
                                    <div class="select_package_free_desc">
                                    @if(tobuzPackage.getTobuzPackageType().toString().equalsIgnoreCase("free")){
                                        <h5>UNTILL UPGRADE : </h5>
                                        <ul>
                                            <li>Contact details of seller not displayed</li>
                                            <li>Cant have a Business Wanted Advert</li>
                                        </ul>
                                        }else{
                                        <h1><span>@if(loggedInUser != null && loggedInUser.getUserCountry() != null){@loggedInUser.getUserCountry().getCurrencyCode()}</span> @{java.lang.Math.round(tobuzPackage.getCost())}</h1>
                                        <span>@tobuzPackage.getExpiryPeriodInMonths() Months</span>
                                        }
                                    </div>
                                </div>
                           </th>
                           }
                          <!--  <th class="select_package_row select_package_silver col-md-3 text-center">
                                <div>
                                    <h4>SILVER</h4>
                                    <div class="select_package_free_desc">
                                        <h1><span>$</span> 50</h1>
                                        <span>6 Months</span>
                                    </div>
                                </div>
                           </th>
                           <th class="select_package_row select_package_gold col-md-3 text-center">
                                <div>
                                    <h4>GOLD</h4>
                                    <div class="select_package_free_desc">
                                        <h1><span>$</span> 75</h1>
                                        <span>1 Year</span>
                                    </div>
                                </div>
                           </th> -->
                       </tr>
                     </thead>
                      <tbody>
                      @for(Tpackage <- packageList){
                      @{index =index+1}
						<tr>
						<td data-label="Features"><div>@Tpackage.tobuzPackageService.getTitle()<span class="pull-right" data-toggle="tooltip" data-placement="top" title="@Tpackage.tobuzPackageService.getTitle()"><i class="fa fa-info hand"></i></span></div></td>
						@for((tPackage,boolean) <- Tpackage.serviceMapBean){
						@if(boolean){
						<td data-label="@tPackage.getTobuzPackageType().toString()"><span class="package-yes"><i class="fa fa-check"></i></span></td>
						}else{
						<td data-label="@tPackage.getTobuzPackageType().toString()"><span class="package-no"><i class="fa fa-times"></i></span></td>
						}
						}
						</tr>
						@if(index == packageList.size()){
						<tr>
                            <td data-label="Features"></td>
                             @for((tobuzPackage,isActivated) <- packages){
                             <td data-label="@tobuzPackage.getTobuzPackageType().toString()"><button class="btn btn-info" @if(isActivated){disabled="disabled"} onclick="buyPackage('@tobuzPackage.getId()','@tobuzPackage.getTobuzPackageType().toString()');">BUY NOW</button></td>
                             }
                          </tr>
						}
						
					}
					
                       <!--   <tr>
                             <td data-label="Features"><div>Personalised Dashboard<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                             <td data-label="Features"><div>Email Alerts<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                             <td data-label="Features"><div>Contact Seller Auto-Fill Form<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                            <td data-label="Features"><div>Business Wanted Adverts<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-no"><i class="fa fa-times"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                            <td data-label="Features"><div>Seller/Broker Database<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                              <td data-label="Free"  ><span class="package-no"><i class="fa fa-times"></i></span></td>
                              <td data-label="Silver"><span class="package-yes">30 Listings per month</span></td>
                              <td data-label="Gold"  ><span class="package-yes">50 Listings per month</span></td>
                          </tr>
                          <tr>
                            <td data-label="Features"><div>View Files<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-no"><i class="fa fa-times"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                            <td data-label="Features"><div>Distress Sale Database<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-no"><i class="fa fa-times"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                            <td data-label="Features"><div>Prioritized Enquires<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-no"><i class="fa fa-times"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                            <td data-label="Features"><div>Add on Business Services<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-no"><i class="fa fa-times"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr>
                          <tr>
                            <td data-label="Features"><div>Social Media and Email Marketing<span class="pull-right" data-toggle="tooltip" data-placement="top" title="A complete online Marketplace made to connect Business & Property Owners with Investors and Business Advisors hence providing a Wholesome Business solution"><i class="fa fa-info"></i></span></div></td>
                             <td data-label="Free"  ><span class="package-no"><i class="fa fa-times"></i></span></td>
                             <td data-label="Silver"><span class="package-yes"><i class="fa fa-check"></i></span></td>
                             <td data-label="Gold"  ><span class="package-yes"><i class="fa fa-check"></i></span></td>
                          </tr> -->
                          
                      </tbody>
                   </table>
                </div>
            </div>
        </section>

}

 <script src="@routes.Assets.versioned("javascripts/packages.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/register.js")" type="text/javascript"></script>