<section class="statstics-section">
    <div class="container">
        <div class="row mt-20 mb-10">
            <div class="col-md-3 text-center">
                <img class="img img-responsive stat-icon" src="@routes.Assets.versioned("images/live_businessess.png")" />
                <h5>Live Businessess</h5>
                <h3>2975</h3>
            </div>
            <div class="col-md-3 text-center">
                <img class="img img-responsive stat-icon" src="@routes.Assets.versioned("images/views.png")" />
                <h5>Active Views</h5>
                <h3>2.6 Million</h3>
            </div>
            <div class="col-md-3 text-center">
                <img class="img img-responsive stat-icon" src="@routes.Assets.versioned("images/enquiries.png")" />
                <h5>Enquiries Received</h5>
                <h3>66,617</h3>
            </div>
            <div class="col-md-3 text-center">
                <img class="img img-responsive stat-icon" src="@routes.Assets.versioned("images/market_value.png")" />
                <h5>Market Value</h5>
                <h3>$6.3 billion</h3>
            </div>
        </div>
    </div>
</section>
